@import "./utils/variables";

@import "./base/base";

// Header

.header {
  &__title {
    text-align: center;
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-quaternary;
    box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.2) inset;

    i {
      font-size: 1.1em;
    }

    p {
      margin-left: 15px;
      font-size: 1.1em;
    }
  }
}

// Banner

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-quinary;
  padding-bottom: 50px;

  h2 {
    margin: 30px 15px 20px 15px;
    text-align: center;
    font-size: 2em;
  }

  p {
    font-weight: 100;
    text-align: center;
    margin: 0 15px 30px 15px;
  }

  button {
    color: white;
    width: 50%;
    padding: 18px 10px;
    border: none;
    border-radius: 30px;
    font-size: 0.9em;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    text-align: center;

    &:hover {
      background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
    }
  }
}

// Fonctionnement

.filters {
  h2 {
    margin-left: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__card {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    position: relative;
    padding: 10px 5px;

    &__num {
      position: absolute;
      left: -10px;
      background: $color-primary;
      color: white;
      border-radius: 50%;
      padding: 5px 10px;
    }

    i {
      margin-right: 20px;
      padding-left: 40px;
    }

    &:hover {
      background: lighten($color-primary, 35%);

      i {
        color: $color-primary;
      }
    }
  }

  .filters__card--active {
    background: lighten($color-primary, 35%);

    i {
      color: $color-primary;
    }
  }
}

// Section restaurants

.restaurants {
  margin-bottom: 30px;

  &__title {
    margin-left: 20px;
  }

  &__cards__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.restaurant__card {
  width: 90%;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  img {
    object-fit: cover;
    height: 190px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__tag {
    font-weight: 800;
    background: $color-tertiary;
    color: darken($color-tertiary, 30%);
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 8px;
    border-radius: 5px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

    &__txt {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 10px 0 10px 10px;
      }

      p {
        margin: 0 0 10px 10px;
      }
    }

    i {
      margin-right: 15px;
      font-size: 1.5em;
      cursor: pointer;
      background-size: 100%;
      background-clip: margin-box;
    }
  }
}
