@import "./utils/variables";

@import "./base/base";

// Loader

.spinner {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #333333;
  animation: fadeOut 5000ms forwards;
  z-index: 9999;
}

.spinner::after {
  content: "";
  width: 75px;
  height: 75px;
  border: 15px solid #dddddd;
  border-top-color: $color-primary;
  border-radius: 50%;
  animation: loading 1000ms infinite;
}

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// Header

.header {
  &__title {
    text-align: center;
  }

  &__location {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color-quaternary;
    box-shadow: -1px 5px 5px rgba(0, 0, 0, 0.2) inset;

    i {
      font-size: 1.1em;
    }

    p {
      margin-left: 15px;
      font-size: 1.1em;
    }
  }
}

// Banner

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $color-quinary;
  padding-bottom: 50px;

  h2 {
    margin: 30px 15px 20px 15px;
    text-align: center;
    font-size: 2em;
  }

  p {
    font-weight: 100;
    text-align: center;
    margin: 0 15px 30px 15px;
  }

  button {
    color: white;
    width: 50%;
    padding: 18px 10px;
    border: none;
    border-radius: 30px;
    font-size: 0.9em;
    background: linear-gradient($color-secondary, $color-primary);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 1;

    &:hover {
      &::after {
        opacity: 1;
      }
    }

    &::after {
      content: "";
      border-radius: 30px;
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: -1;
      background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
      opacity: 0;
      transition: opacity 250ms;
    }
  }
}

// Fonctionnement

.filters {
  h2 {
    margin-left: 20px;
  }

  &__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
  }

  &__card {
    display: flex;
    align-items: center;
    width: 80%;
    border-radius: 30px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    margin-bottom: 30px;
    position: relative;
    padding: 10px 5px;
    z-index: 1;

    &__num {
      position: absolute;
      left: -10px;
      background: $color-primary;
      color: white;
      border-radius: 50%;
      padding: 5px 10px;
    }

    i {
      margin-right: 20px;
      padding-left: 40px;
    }

    &:hover {
      &::after {
        opacity: 1;
      }

      i {
        color: $color-primary;
      }
    }

    &::after {
      content: "";
      border-radius: 30px;
      background: lighten($color-primary, 35%);
      box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      opacity: 0;
      z-index: -1;
      transition: opacity 250ms;
    }
  }

  .filters__card--active {
    background: lighten($color-primary, 35%);
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.4);

    i {
      color: $color-primary;
    }
  }
}

// Section restaurants

.restaurants {
  margin-bottom: 30px;

  &__title {
    margin-left: 20px;
  }

  &__cards__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.restaurant__card {
  width: 90%;
  position: relative;
  border-radius: 10px;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);
  margin-bottom: 20px;

  a {
    text-decoration: none;
  }

  a:visited {
    color: black;
  }

  img {
    object-fit: cover;
    height: 190px;
    width: 100%;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  &__tag {
    font-weight: 800;
    background: $color-tertiary;
    color: darken($color-tertiary, 30%);
    position: absolute;
    top: 5px;
    right: 10px;
    padding: 8px;
    border-radius: 5px;
  }

  &__body {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;

    &__txt {
      display: flex;
      flex-direction: column;

      h2 {
        margin: 10px 0 10px 10px;
      }

      p {
        margin: 0 0 10px 10px;
      }
    }

    &__like {
      display: inline-block;
      margin-right: 15px;
      font-size: 1.5em;
      color: #4b4a4a;
      cursor: pointer;

      &:hover {
        animation: like 1500ms ease-out forwards;
      }

      @keyframes like {
        0% {
          font-weight: 800;
          background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0;
        }

        25% {
          font-weight: 800;
          background: linear-gradient(lighten($color-secondary, 15), lighten($color-primary, 15));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0.3;
        }

        50% {
          font-weight: 800;
          background: linear-gradient(lighten($color-secondary, 10), lighten($color-primary, 10));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0.5;
        }

        75% {
          font-weight: 800;
          background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          opacity: 0.8;
        }

        100% {
          font-weight: 800;
        background: linear-gradient($color-secondary, $color-primary);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        opacity: 1;
        }
      }
    }
  }
}

// Section footer

footer {
  background-color: #2d2d2d;
  padding: 20px 0 20px 0;

  h3 {
    color: white;
    font-family: "Shrikhand", cursive;
    margin-left: 30px;
  }

  ul {
    list-style: none;
    padding: 0;
    margin-left: 30px;

    li {
      margin-bottom: 15px;
    }

    a {
      color: white;
      text-decoration: none;
    }

    a:visited {
      color: white;
    }

    .contact {
      color: white;
    }

    i {
      margin-right: 10px;
      font-size: 0.8em;
    }
  }
}

// Page menu

.header-menu {
  display: flex;
  align-items: center;
  gap: 20%;
  margin: 0 10px;

  a {
    text-decoration: none;
    color: black;
  }

  a:visited {
    color: black;
  }

  i {
    font-size: 1.2em;
    margin-left: 20px;
  }
}