// Spinner

// Animation de la rotation

@keyframes loading {
  from {
    transform: rotate(0turn);
  }
  to {
    transform: rotate(1turn);
  }
}

// Animation de l'opacité du fond de chargement

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  25% {
    opacity: 1;
  }

  50% {
    opacity: 1;
  }

  75% {
    opacity: 1;
  }

  100% {
    opacity: 0;
    visibility: hidden;
  }
}

// Animation remplissage du coeur
// background-clip pour remplir le coeur avec le dégradé

@keyframes like {
  0% {
    font-weight: 800;
    background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0;
  }

  25% {
    font-weight: 800;
    background: linear-gradient(lighten($color-secondary, 15), lighten($color-primary, 15));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.3;
  }

  50% {
    font-weight: 800;
    background: linear-gradient(lighten($color-secondary, 10), lighten($color-primary, 10));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.5;
  }

  75% {
    font-weight: 800;
    background: linear-gradient(lighten($color-secondary, 5), lighten($color-primary, 5));
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 0.8;
  }

  100% {
    font-weight: 800;
    background: linear-gradient($color-secondary, $color-primary);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    opacity: 1;
  }
}

// Affichage progressif du menu

@keyframes fadeIn {
  0% {
    opacity: 0;
    visibility: hidden;
  }
  100% {
    opacity: 1;
  }
}

// Animations des cartes

// Animation pour l'affichage du check

@keyframes checked {
  0% {
    width: 0%;
  }
  100% {
    width: 15%;
  }
}

// Animation pour le retrait du check à la fin du hover

@keyframes checkedFade {
  0% {
    width: 15%;
  }
  100% {
    width: 0%;
  }
}

// Animation de la rotation de l'icone check

@keyframes iconAnim {
  from {
    transform: rotate(0turn);
    opacity: 0;
  }
  to {
    transform: rotate(1turn);
    opacity: 1;
  }
}

// Animation pour déplacer le prix lors de l'animation checked

@keyframes priceMove {
  0% {
    right: 30px;
  }
  100% {
    right: 55px;
  }
}

// Animation pour replacer le prix à la fin du hoover

@keyframes priceRemove {
  0% {
    right: 55px;
  }
  100% {
    right: 30px;
  }
}

/* Animation pour reduire la taille de la div qui contient le texte 
   lors de l'animation checked */

@keyframes cardMove {
  0% {
    width: 80%;
  }
  100% {
    width: 73%;
  }
}

// Animation inverse de l'animation cardMove

@keyframes cardRemove {
  0% {
    width: 73%;
  }
  100% {
    width: 80%;
  }
}
